
.DS_Store

.classpath

.project

Billiterate/bin/AndroidManifest.xml

Billiterate/bin/classes/edu/berkeley/cs160/billiterate/Agenda$DummySectionFragment.class

*.class

Billiterate/bin/jarlist.cache

Billiterate/gen/edu/berkeley/cs160/billiterate/BuildConfig.java

Billiterate/gen/edu/berkeley/cs160/billiterate/R.java

Billiterate/libs/android-support-v4.jar

Billiterate/proguard-project.txt

Billiterate/res/values-v11/styles.xml

Billiterate/res/values-v14/styles.xml

Billiterate/res/values/styles.xml
